{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>
		<script src="{% static 'js/jquery.min.js' %}"></script>

		<meta charset="utf-8">
		<title>Sistema da Malária</title>
		<meta name="description" content="description">
		<meta name="author" content="Malaria">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{% static 'plugins/bootstrap/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">

		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>

		<link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/estilo.css' %}" rel="stylesheet" type="text/css">
	</head>
<body>
<!--Start Header-->
<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-12">
				<a href="{{ vSite }}/dados/">Sistema da Malária</a>
			</div>
		</div>
	</div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="{{ vSite }}/dados/">
						<i class="fa fa-home"></i>
						<span class="hidden-xs">Inicial</span>
					</a>
				</li>
				<li>
					<a href="{{ vSite }}/dados/mapa/">
						<i class="fa fa-map-marker"></i>
						<span class="hidden-xs">Mapa</span>
					</a>
				</li><li>
					<a href="{{ vSite }}/dados/informativo/">
						<i class="fa fa-info"></i>
						<span class="hidden-xs">Informativo</span>
					</a>
				</li>
				<li>
					<a href="{{ vSite }}/dados/estatisticas/">
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">Estatíscas</span>
					</a>
				</li>
				<li>
					<a href="{{ vSite }}/dados/sobre/">
						<i class="fa fa-comment-o"></i>
						<span class="hidden-xs">Sobre</span>
					</a>
				</li>
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">
			<!--Start Breadcrumb-->
			<div class="row">
				<div id="breadcrumb" class="col-xs-12">
					<ol class="breadcrumb">
						<li style="color: rgb(255,255,255);">Estatisticas</li>
					</ol>
				</div>
			</div>
			<!--End Breadcrumb-->

			<!--Start Dashboard 1-->
			<div id="dashboard-header" class="row">
			<div class="col-xs-12 col-sm-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-search"></i>
								<span>Pesquisar</span>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<form class="form-horizontal" role="form" method="post">
								<div class="form-group" align="left">
									<div class="col-sm-12">

										<label class="col-sm-2 control-label">Data Inicial</label>
										
										<div class="col-sm-2">
											<select class=" form-control">
												<option>Mês</option>
												<option value="01">Janeiro</option>
												<option value="02">Fevereiro</option>
												<option value="03">Março</option>
												<option value="04">Abril</option>
												<option value="05">Maio</option>
												<option value="06">Junho</option>
												<option value="07">Julho</option>
												<option value="08">Agosto</option>
												<option value="09">Setembro</option>
												<option value="10">Outubro</option>
												<option value="11">Novembro</option>
												<option value="12">Dezembro</option>
											</select>
										</div>
										
										<div class="col-sm-2">
											<select class="form-control">
												<option>Ano</option>
												<option value="2008">2008</option>
												<option value="2009">2009</option>
												<option value="2010">2010</option>
												<option value="2011">2011</option>
												<option value="2012">2012</option>
												<option value="2013">2013</option>
											</select>
										</div>
										
										<label class="col-sm-2 control-label">Estado</label>
										<div class="col-sm-4">
											<select class=" form-control">
												<option>Escolha o Estado</option>
												<option value="AC">Acre</option>
												<option value="AL">Alagoas</option>
												<option value="AP">Amapá</option>
												<option value="AM">Amazonas</option>
												<option value="BA">Bahia</option>
												<option value="CE">Ceará</option>
												<option value="DF">Distrito Federal</option>
												<option value="ES">Espirito Santo</option>
												<option value="GO">Goiás</option>
												<option value="MA">Maranhão</option>
												<option value="MT">Mato Grosso</option>
												<option value="MS">Mato Grosso do Sul</option>
												<option value="MG">Minas Gerais</option>
												<option value="PA">Pará</option>
												<option value="PB">Paraiba</option>
												<option value="PR">Paraná</option>
												<option value="PE">Pernambuco</option>
												<option value="PI">Piauí</option>
												<option value="RJ">Rio de Janeiro</option>
												<option value="RN">Rio Grande do Norte</option>
												<option value="RS">Rio Grande do Sul</option>
												<option value="RO">Rondônia</option>
												<option value="RR">Roraima</option>
												<option value="SC">Santa Catarina</option>
												<option value="SP">São Paulo</option>
												<option value="SE">Sergipe</option>
												<option value="TO">Tocantis</option>
											</select>
										</div>

									</div>

									<div class="col-sm-12">

										<label class="col-sm-2 control-label">Data Final</label>
		
										<div class="col-sm-2">
											<select class=" form-control">
												<option>Mês</option>
												<option value="01">Janeiro</option>
												<option value="02">Fevereiro</option>
												<option value="03">Março</option>
												<option value="04">Abril</option>
												<option value="05">Maio</option>
												<option value="06">Junho</option>
												<option value="07">Julho</option>
												<option value="08">Agosto</option>
												<option value="09">Setembro</option>
												<option value="10">Outubro</option>
												<option value="11">Novembro</option>
												<option value="12">Dezembro</option>
											</select>
										</div>
										
										<div class="col-sm-2">
											<select class="form-control">
												<option>Ano</option>
												<option value="2008">2008</option>
												<option value="2009">2009</option>
												<option value="2010">2010</option>
												<option value="2011">2011</option>
												<option value="2012">2012</option>
												<option value="2013">2013</option>
											</select>
										</div>

										<label class="col-sm-2 control-label">Cidade</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" placeholder="Digite o nome da Cidade" data-toggle="tooltip" data-placement="bottom" title="Tooltip for name">
										</div>

									</div>

									<div class="col-sm-12">

										<label class="col-sm-2 control-label">Faixa Etária</label>
										
										<div class="col-sm-4">
											<select class=" form-control">
												<option>Faixa Etária</option>
												<option value="01">De 01 a 10 anos</option>
												<option value="02">De 11 a 20 anos</option>
												<option value="03">De 21 a 30 anos</option>
												<option value="04">De 31 a 40 anos</option>
												<option value="05">De 41 a 50 anos</option>
												<option value="06">De 51 a 60 anos</option>
												<option value="07">De 61 a 70 anos</option>
												<option value="08">De 71 a 80 anos</option>
												<option value="09">De 81 a 90 anos</option>
												<option value="10">De 91 a 99 anos</option>
											</select>
										</div>

										<label class="col-sm-2 control-label">Sexo</label>
										
										<div class="col-sm-2">
											<select class=" form-control">
												<option>Sexo</option>
												<option value="01">Feminino</option>
												<option value="02">Masculino</option>
											</select>
										</div>


										<div class="col-sm-2" align="right">
											<button type="submit" class="btn btn-success btn-label-left">
												<span><i class="fa fa-search"></i></span>
												Pesquisar
											</button>
										</div>

									</div>
								</div>
							</form>
						</div>
					</div>
				</div>

				<div class="col-xs-6 col-sm-6">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-bar-chart-o"></i>
								<span>Estatistica 1</span>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div id="piechart" style="width: 100%; height: 400px;"></div>
						</div>	
					</div>
				</div>

				<div class="col-xs-6 col-sm-6">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-bar-chart-o"></i>
								<span>Estatistica 1</span>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div id="chart_div1" style="width: 100%; height: 400px;"></div>
						</div>	
					</div>
				</div>

				<div class="col-xs-12 col-sm-12">
					<div class="box">
						<div class="box-header">
							<div class="box-name">
								<i class="fa fa-bar-chart-o"></i>
								<span>Estatistica 2</span>
							</div>
							<div class="no-move"></div>
						</div>
						<div class="box-content">
							<div id="chart_div" style="width: 100%; height: 400px;"></div>
						</div>	
					</div>
				</div>

			</div>
			<!--End Dashboard 1-->

		</div>
		<!--End Content-->
	</div>
</div>
<!--End Container-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="{% static 'plugins/jquery-ui/jquery-ui.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="{% static 'js/devoops.js' %}"></script>

<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">
  google.load("visualization", "1", {packages:["corechart"]});
  google.setOnLoadCallback(drawChart);
  function drawChart() {
    var data = google.visualization.arrayToDataTable([
      ['Estados', 'Hours per Day'],
      ['RS',     11],
      ['SC',      2],
      ['SP',  2],
      ['PR', 2],
      ['RJ',    7]
    ]);

    var options = {
      title: 'Estados Malariosos'
    };

    var chart = new google.visualization.PieChart(document.getElementById('piechart'));
    chart.draw(data, options);


  var data = google.visualization.arrayToDataTable([
    ['Year', 'Sales', 'Expenses'],
    ['2004',  1000,      400],
    ['2005',  1170,      460],
    ['2006',  660,       1120],
    ['2007',  1030,      540]
  ]);

  var options = {
    title: 'Company Performance',
    hAxis: {title: 'Year', titleTextStyle: {color: 'red'}}
  };

  var chart = new google.visualization.ColumnChart(document.getElementById('chart_div1'));

  chart.draw(data, options);


    var data = google.visualization.arrayToDataTable([
      ['Ano', 'AC', 'AL', 'AP', 'AM', 'BA', 'CE', 'DF', 'ES', 'GO', 'MA', 'MT', 'MS', 'MG', 'PA', 'PB', 'PR', 'PE', 'PI', 'RJ', 'RN', 'RS', 'RO', 'RR', 'SC', 'SP', 'SE', 'TO'],
      ['2008',  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27],
      ['2009',  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27],
      ['2010',  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27],
      ['2011',  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27],
      ['2012',  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27],
      ['2013',  1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27]
    ]);

    var options = {
      title: 'Casos de Malária por Anos nos Estados Brasileiros'
    };

    var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

    chart.draw(data, options);
  }
</script>

</body>
</html>