{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
	<head>		
		<script src="{% static 'js/jquery.min.js' %}"></script>

		<meta charset="utf-8">
		<title>Sistema da Malária</title>
		<meta name="description" content="description">
		<meta name="author" content="Malaria">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<link href="{% static 'plugins/bootstrap/bootstrap.css' %}" rel="stylesheet">
		<link href="{% static 'plugins/jquery-ui/jquery-ui.min.css' %}" rel="stylesheet">

		<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>

		<link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'css/estilo.css' %}" rel="stylesheet" type="text/css">

		<link href="{% static 'img/logo.png' %}" rel="shortcut icon"> 
	</head>
<body>
<!--Start Header-->
<header class="navbar">
	<div class="container-fluid expanded-panel">
		<div class="row">
			<div id="logo" class="col-xs-12 col-sm-12">
				<a href="{{ vSite }}/dados/">Sistema da Malária</a>
			</div>
		</div>
	</div>
</header>
<!--End Header-->
<!--Start Container-->
<div id="main" class="container-fluid">
	<div class="row">
		<div id="sidebar-left" class="col-xs-2 col-sm-2">
			<ul class="nav main-menu">
				<li>
					<a href="{{ vSite }}/dados/">
						<i class="fa fa-home"></i>
						<span class="hidden-xs">Inicial</span>
					</a>
				</li>
				<li>
					<a href="{{ vSite }}/dados/mapa/">
						<i class="fa fa-map-marker"></i>
						<span class="hidden-xs">Mapa</span>
					</a>
				</li><li>
					<a href="{{ vSite }}/dados/informativo/">
						<i class="fa fa-info"></i>
						<span class="hidden-xs">Informativo</span>
					</a>
				</li>
				<li>
					<a href="{{ vSite }}/dados/estatisticas/">
						<i class="fa fa-bar-chart-o"></i>
						<span class="hidden-xs">Estatíscas</span>
					</a>
				</li>
				<li>
					<a href="{{ vSite }}/dados/sobre/">
						<i class="fa fa-comment-o"></i>
						<span class="hidden-xs">Sobre</span>
					</a>
				</li>
			</ul>
		</div>
		<!--Start Content-->
		<div id="content" class="col-xs-12 col-sm-10">



			<!--Start Breadcrumb-->
			<div class="row">
				<div id="breadcrumb" class="col-xs-12">
					<ol class="breadcrumb">
						<li style="color: rgb(255,255,255);">Inicial</li>
					</ol>
				</div>
			</div>
			<!--End Breadcrumb-->
			<!--Start Dashboard 1-->
			<div id="dashboard-header" class="row">
				<div class="col-xs-12 col-sm-12">
					<div align="center">
					<h3>Bem Vindo ao Sistema da Malária!</h3>
					</div>
					<div align="left">
					<h4>O que é a doença?</h4>
					<p>
A malária é uma doença infecciosa, febril, potencialmente grave, causada pelo parasita do gênero Plasmodium, transmitido ao homem, na maioria das vezes pela picada de mosquitos infectados.</p>
					<br>
					<h4>Sintomas da Malária</h4>
					<p>
Calafrios, febre alta, sudorese e dor de cabeça, dor muscular, taquicardia, aumento do baço e, por vezes, delírios. Também existe uma chance em dez de se desenvolver o que se chama de malária cerebral.</p>
					<br>
					<h4>Prevenção</h4>
					<p>
A prevenção da malária consiste no controle/eliminação do mosquito transmissor e pode se dar por meio de medidas individuais, com uso de mosquiteiros impregnados ou não com inseticidas, roupas que protejam pernas e braços, telas em portas e janelas, repelentes.</p>
					<br>
					</div>
					<div align="center">
						<a href="{{ vSite }}/dados/informativo/"><h4>Saiba mais...</h4></a>
					</div>
				</div>
			</div>
			<!--End Dashboard 1-->



		</div>
		<!--End Content-->
	</div>
</div>
<!--End Container-->

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!--<script src="http://code.jquery.com/jquery.js"></script>-->
<script src="{% static 'plugins/jquery-ui/jquery-ui.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
<!-- All functions for this theme + document.ready processing -->
<script src="{% static 'js/devoops.js' %}"></script>

</body>
</html>
